In [1]:
from bs4 import BeautifulSoup
import requests 
import re
import csv 
import time

In [2]:
url = 'https://www.airlinequality.com/airline-reviews/british-airways/?sortby=post_date%3ADesc&pagesize=20'
f = requests.get(url).text 

soup = BeautifulSoup(f, 'html.parser')

In [4]:
for article in soup.find_all('article'):
    rating = article.find('div', itemprop = 'reviewRating')
    if rating is not None:
        rating = article.find('div', itemprop = 'reviewRating').text
        rating = rating.strip()
    else: 
        continue

    he3 = article.h3
    if he3 is not None:
        he3 = article.h3.text
    else:
        continue
    name = article.h3.find('span', itemprop = 'name').text
    date = article.h3.time.text
    try:
        country = re.search('\(([^)]+)', he3).group(1)
    except AttributeError:
        country = None
    labels = article.find('div', class_ = 'tc_mobile').text
    header = article.find('div', class_ = 'tc_mobile')

    table = header.table
    check  = header.table.find('td', class_ = 'type_of_traveller')
    verified = header.em
    if verified is not None:
        verified = header.em.text
    else:
        continue
    labels = article.find('div', class_='tc_mobile')
    seats = labels 
    if seats is not None:
        table = labels.find('table', class_='review-ratings')
    else:
        continue

    seats = labels.find('table', class_='review-ratings')
    try:
        try:
            recommended = seats.find('td', class_='review-value rating-yes').text
        except:
            recommended = seats.find('td', class_='review-value rating-no').text
    except AttributeError:
        recommended = None
    


    
    a = []
    count = 0
    for tr in seats.find_all('tr'):
        td = tr.find('td', class_='review-value')
        if td is not None:
            td = tr.find('td', class_='review-value').text
            a.append(td)
        else:
            continue
        count += 1
    if count == 5:
        A = a[0]
        B = a[1]
        C = a[2]
        D = a[3]
        E = a[4]


        print('Rating: ', rating)
        print('Name: ', name)
        print('Date', date)
        print('Country: ', country)
        print('A :', A)
        print('B', B)
        print('C', C)
        print('D', D)
        print('E', E)


    elif count == 6:
        A = a[0]
        B = a[1]
        C = a[2]
        D = a[3]
        E = a[4]

        print('Rating: ', rating)
        print('Name: ', name)
        print('Date', date)
        print('Country: ', country)
        print('A :', A)
        print('B', B)
        print('C', C)
        print('D', D)
        print('E', E)
    print()

Rating:  4/10
Name:  Christopher Neep
Date 28th January 2023
Country:  United Kingdom
A : Boeing 777-300
B Solo Leisure
C Premium Economy
D London to Vancouver
E January 2023

Rating:  4/10
Name:  Christopher Neep
Date 28th January 2023
Country:  United Kingdom
A : Boeing 777-300
B Solo Leisure
C Premium Economy
D London to Vancouver
E January 2023

Rating:  3/10
Name:  Kathleen Lucey
Date 28th January 2023
Country:  United Kingdom
A : Solo Leisure
B Economy Class
C Faro to London
D January 2023
E no

Rating:  9/10
Name:  Ian Sinclair
Date 24th January 2023
Country:  United Kingdom
A : A380
B Solo Leisure
C First Class
D Heathrow to Johannesburg
E January 2023

Rating:  9/10
Name:  E Smyth
Date 24th January 2023
Country:  United Kingdom
A : Boeing 777-200
B Couple Leisure
C Business Class
D Cape Town to London
E January 2023

Rating:  9/10
Name:   Horton
Date 23rd January 2023
Country:  United Kingdom
A : Boeing 777-300ER
B Couple Leisure
C Business Class
D London to Male
E January 2023

Rating:  2/10
Name:  Marian Benedikovic
Date 21st January 2023
Country:  United Kingdom
A : Solo Leisure
B Business Class
C London to Vienna
D December 2022
E no

Rating:  3/10
Name:  Thomas Kowalski
Date 19th January 2023
Country:  United States
A : Couple Leisure
B Economy Class
C Johannesburg to Los Angeles via London
D January 2023
E no

Rating:  2/10
Name:  Reyes Diaz
Date 19th January 2023
Country:  United Kingdom
A : Solo Leisure
B Economy Class
C London Gatwick to Alicante
D January 2023
E no

Rating:  9/10
Name:  S Zarhas
Date 18th January 2023
Country:  United Kingdom
A : Boeing 787-8
B Family Leisure
C Economy Class
D London to Tel Aviv
E December 2022

Rating:  9/10
Name:  E Smyth
Date 17th January 2023
Country:  United Kingdom
A : Boeing 777-200
B Couple Leisure
C Business Class
D London Heathrow to Cape Town
E January 2023

Rating:  1/10
Name:  Jozef Kis
Date 17th January 2023
Country:  United Kingdom
A : Solo Leisure
B Economy Class
C Gatwick to Dublin
D January 2023
E no

Rating:  3/10
Name:  Sam Hassan
Date 16th January 2023
Country:  United Kingdom
A : Solo Leisure
B Premium Economy
C London Heathrow to Athens Greece
D April 2022
E no

Rating:  4/10
Name:  C Bain
Date 9th January 2023
Country:  United Kingdom
A : Boeing 777-200
B Family Leisure
C Economy Class
D Atlanta to London
E January 2023

Rating:  5/10
Name:  C Bain
Date 8th January 2023
Country:  United Kingdom
A : A380
B Family Leisure
C Economy Class
D London to Chicago
E December 2022

Rating:  1/10
Name:  Hans Book
Date 6th January 2023
Country:  Canada
A : Family Leisure
B Economy Class
C Istanbul to Vancouver via Heathrow
D January 2023
E no

Rating:  1/10
Name:  G Jackson
Date 2nd January 2023
Country:  United States
A : A320, A380
B Family Leisure
C Business Class
D Vienna to Los Angeles via London Heathrow
E January 2023

Rating:  2/10
Name:  J Tucker
Date 2nd January 2023
Country:  United States
A : Business
B Business Class
C London to San francisco
D January 2023
E no

Rating:  8/10
Name:  R Heale
Date 2nd January 2023
Country:  United Kingdom
A : A321
B Business
C Economy Class
D London to Belfast
E January 2023

Rating:  6/10
Name:  J Robins
Date 1st January 2023
Country:  United Kingdom
A : A380
B Business
C Economy Class
D Doha to London
E December 2022

Rating:  4/10
Name:  Stephen Segar
Date 30th December 2022
Country:  United Kingdom
A : Boeing 777
B Couple Leisure
C Business Class
D London to Barbados
E December 2022